<footer class="bg-gray-900" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <img class="h-7" src="{{settings.logo}}" alt="{{help_center.name}}">
    </div>
  </div>
</footer>

<footer class="bg-blue text-white px-6 pt-20 pb-10 overflow-hidden">
  <div class="container mx-auto py-4 md:py-0 px-6 md:px-0">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 footer-heading">
      <div class="col-span-1 md:col-span-4">
        <img src="{{settings.logo}}" alt="Logo" class="h-12 w-auto mb-7">
       
        <div class="flex flex-row gap-4 my-5">
          {{#if settings.footer_icon_1_text}}
            <a href="{{settings.footer_icon_1_text}}">
              <img src="{{settings.footer_icon_1}}" class="h-8 w-8 object-fit">
            </a>
          {{/if}}
          {{#if settings.footer_icon_2_text}}
            <a href="{{settings.footer_icon_2_text}}">
              <img src="{{settings.footer_icon_2}}" class="h-8 w-8 object-fit">
            </a>
          {{/if}}
          {{#if settings.footer_icon_3_text}}
            <a href="{{settings.footer_icon_3_text}}">
              <img src="{{settings.footer_icon_3}}" class="h-8 w-8 object-fit">
            </a>
          {{/if}}
          {{#if settings.footer_icon_4_text}}
            <a href="{{settings.footer_icon_4_text}}">
              <img src="{{settings.footer_icon_4}}" class="h-8 w-8 object-fit">
            </a>
          {{/if}}
        </div>
      </div>
      {{#if settings.footer_heading_1}}
        <div class="col-span-1 md:col-span-2">
          <h6 class="text-white text-left">{{settings.footer_heading_1}}</h6>
          <ul class="list-unstyled footer-links">
            {{#if settings.footer_link_text_1_1}}
              <li><a href="{{settings.footer_link_url_1_1}}" class="opacity-60 text-left">{{settings.footer_link_text_1_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_1_2}}
              <li><a href="{{settings.footer_link_url_1_2}}" class="opacity-60 text-left">{{settings.footer_link_text_1_2}}</a></li>
            {{/if}}
            <h6 class="text-white text-left">{{settings.footer_heading_1_1}}</h6>
                {{#if settings.footer_link_text_1_1_1}}
              <li><a href="{{settings.footer_link_url_1_1}}" class="opacity-60 text-left">{{settings.footer_link_text_1_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_1_2}}
              <li><a href="{{settings.footer_link_url_1_1_2}}" class="opacity-60 text-left">{{settings.footer_link_text_1_2}}</a></li>
            {{/if}}


          </ul>
        </div>
      {{/if}}
      {{#if settings.footer_heading_2}}
        <div class="col-span-1 md:col-span-2">
          <h6 class="text-white text-left">{{settings.footer_heading_2}}</h6>
          <ul class="list-unstyled footer-links">
            {{#if settings.footer_link_text_2_1}}
              <li><a href="{{settings.footer_link_url_2_1}}" class="opacity-60 text-left">{{settings.footer_link_text_2_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_2_2}}
              <li><a href="{{settings.footer_link_url_2_2}}" class="opacity-60 text-left">{{settings.footer_link_text_2_2}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_2_3}}
              <li><a href="{{settings.footer_link_url_2_3}}" class="opacity-60 text-left">{{settings.footer_link_text_2_3}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_2_4}}
              <li><a href="{{settings.footer_link_url_2_4}}" class="opacity-60 text-left">{{settings.footer_link_text_2_4}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_2_5}}
              <li><a href="{{settings.footer_link_url_2_5}}" class="opacity-60 text-left">{{settings.footer_link_text_2_5}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_2_6}}
              <li><a href="{{settings.footer_link_url_2_6}}" class="opacity-60 text-left">{{settings.footer_link_text_2_6}}</a></li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
      {{#if settings.footer_heading_3}}
        <div class="col-span-1 md:col-span-2">
          <h6 class="text-white text-left">{{settings.footer_heading_3}}</h6>
          <ul class="list-unstyled footer-links">
            {{#if settings.footer_link_text_3_1}}
              <li><a href="{{settings.footer_link_url_3_1}}" class="opacity-60 text-left">{{settings.footer_link_text_3_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_2}}
              <li><a href="{{settings.footer_link_url_3_2}}" class="opacity-60 text-left">{{settings.footer_link_text_3_2}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_3}}
              <li><a href="{{settings.footer_link_url_3_3}}" class="opacity-60 text-left">{{settings.footer_link_text_3_3}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_4}}
              <li><a href="{{settings.footer_link_url_3_4}}" class="opacity-60 text-left">{{settings.footer_link_text_3_4}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_5}}
              <li><a href="{{settings.footer_link_url_3_5}}" class="opacity-60 text-left">{{settings.footer_link_text_3_5}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_5}}
              <li><a href="{{settings.footer_link_url_3_6}}" class="opacity-60 text-left">{{settings.footer_link_text_3_6}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_5}}
              <li><a href="{{settings.footer_link_url_3_7}}" class="opacity-60 text-left">{{settings.footer_link_text_3_7}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_3_5}}
              <li><a href="{{settings.footer_link_url_3_8}}" class="opacity-60 text-left">{{settings.footer_link_text_3_8}}</a></li>
            {{/if}}
          </ul>
        </div>
      {{/if}}
      {{#if settings.footer_heading_4}}
        <div class="col-span-1 md:col-span-2">
          <h6 class="text-white text-left">{{settings.footer_heading_4}}</h6>
          <ul class="list-unstyled footer-links">
            {{#if settings.footer_link_text_4_1}}
              <li><a href="{{settings.footer_link_url_4_1}}" class="opacity-60 text-left">{{settings.footer_link_text_4_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_4_2}}
              <li><a href="{{settings.footer_link_url_4_2}}" class="opacity-60 text-left">{{settings.footer_link_text_4_2}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_4_3}}
              <li><a href="{{settings.footer_link_url_4_3}}" class="opacity-60 text-left">{{settings.footer_link_text_4_3}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_4_4}}
              <li><a href="{{settings.footer_link_url_4_4}}" class="opacity-60 text-left">{{settings.footer_link_text_4_4}}</a></li>
            {{/if}}
          
          </ul>
        </div>
            {{#if settings.footer_heading_5}}
        <div class="col-span-1 md:col-span-2">
          <h6 class="text-white text-left">{{settings.footer_heading_5}}</h6>
          <ul class="list-unstyled footer-links">
            {{#if settings.footer_link_text_5_1}}
              <li><a href="{{settings.footer_link_url_5_1}}" class="opacity-60 text-left">{{settings.footer_link_text_5_1}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_5_2}}
              <li><a href="{{settings.footer_link_url_5_2}}" class="opacity-60 text-left">{{settings.footer_link_text_5_2}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_5_3}}
              <li><a href="{{settings.footer_link_url_5_3}}" class="opacity-60 text-left">{{settings.footer_link_text_5_3}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_5_4}}
              <li><a href="{{settings.footer_link_url_5_4}}" class="opacity-60 text-left">{{settings.footer_link_text_5_4}}</a></li>
            {{/if}}
              {{#if settings.footer_link_text_5_5}}
              <li><a href="{{settings.footer_link_url_5_5}}" class="opacity-60 text-left">{{settings.footer_link_text_5_5}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_5_6}}
              <li><a href="{{settings.footer_link_url_5_6}}" class="opacity-60 text-left">{{settings.footer_link_text_5_6}}</a></li>
            {{/if}}
            {{#if settings.footer_link_text_6_7}}
              <li><a href="{{settings.footer_link_url_5_7}}" class="opacity-60 text-left">{{settings.footer_link_text_5_7}}</a></li>
            {{/if}}
          
          
          </ul>
        </div>
      {{/if}}
    </div>
    
  </div>
</footer>
